h1 {text-align: center; color: red; text-decoration: underline; font-family: algerian}
body{text-align: center; color: red; font-family: sans-serif; background-color: #85C1E9}
div{text-align: center}
td{text-align: center}
